* {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
}

.dragging, .drag-icon {
	cursor: -webkit-grabbing !important;
}

.hidden {
	display: none !important;
}

/*
 * Container for the content
 */
.content-box {
	height: 100%;
	position: static;
	min-width: 300px;
	max-width: 700px;
	border-left: 1px dotted grey;
	border-right: 1px dotted grey;
	margin: 0 auto;
	padding-top: 15px;
}

/*
 * Container for the comic panels so far
 */
.panels-box {
	margin: 0px 15px;
}

.panel-group {
	display: flex;
	flex-direction: row;
	align-content: stretch;
	flex-wrap: wrap;
	justify-content: center;
}

.panel {
	flex-grow: 1;
	padding: 20px;
	display: inline-block;
	border: 1px solid grey;
	margin: 5px;
	text-align: center;
}

.panel-group.latest .panel {
	background-color: rgb(255, 210, 230);
}

/* 
 * Container for the active panel (the drop target)
 */
.active-panel {
	background-color: rgb(255, 210, 230);
	border: 1px solid grey;
	height: 200px;
	margin: 5px 20px;
	padding: 10px;
}

.active-panel.ready {
	background-color: rgb(255, 200, 220);
}

/* 
 * Container for the continue/restart options.
 */
.flow-action {
	text-align: center;
	margin: 20px;
	padding: 20px;
}

.flow-action a {
	padding: 20px;
	border: 1px solid rgb(150, 210, 240);
	border-radius: 5px;
	background-color: rgb(150, 230, 255);
	cursor: pointer;

	-webkit-touch-callout: none;
  	-webkit-user-select: none;
}

/*
 * Containers for the current options (droppable items)
 */
.items-box {
	display: flex;
	flex-direction: row;
	padding: 20px;
	justify-content: center;
}

.item {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 0px 20px;
	line-height: 100px;
	text-align: center;
	cursor: -webkit-grab;
}

.item:hover {
	background-color: pink;
}

.item:active {
	cursor: -webkit-grabbing;
}